header{
    margin-left:-1rem;
    margin-right:-1rem;
    margin-top:-1rem;
    height: 5rem;
    padding-top: .5rem;
    background: linear-gradient(rgb(0, 255, 106), rgba(0, 153, 255, 0.699));
    text-align: center;
    font-size: 4rem;
    color: azure;
}
.main{
    margin:auto;
    width:70%
}
.display_word{
    text-align: center;
    font-size: 8rem;
    /* font-family: 'cursive', Courier, monospace; */
    font-style: oblique;
    color: purple;
}
main button{
    margin-left: 15%;
    margin-top:.4rem;
    width: 70%;
    height: 3rem;
    font-size: 2rem;
    font-family: 'cursive', Courier, monospace;

}
.rule-game{
    text-align: center;
    color:#776e65;
}
#element-visted{
    margin:auto;
    margin-top: 1.5rem;
    height:15rem;
    border-radius: 2rem;
    width:50%;
    display: flex;
    flex-wrap: wrap;
    border-style: solid ;
    border-color:#663300;
    /* flex-direction: column-reverse; */
    text-align: center;
    overflow: scroll;
    border-width: 2rem;
    border-top-width: 1rem;
    /* flex-direction: column-reverse; */
}
#element-visted p{
    margin-top: .2rem;
    margin-bottom: .2rem;

    height:2rem;
    width:100%;
    border-radius: 1rem;
    border-style: solid ;
    text-align: center;
    border-color:  #663300;
    background-color:  #663300;
    padding-top: .5rem;
    color:whitesmoke;
    font-size: large;
}
